@import "colors";

.container {
  display: grid;
  grid-template-areas: "s b" "s n";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;

  .sidebar {
    grid-area: s;
    background-color: $tree-blue;
  }

  .user {
    padding: 30px 20px;
    height: 120px;

    .name {
      margin-right: 5px;
    }
  }

  .tree {
    .treeElement {
      .wrapper {
        padding: 5px 0 5px 20px;
        cursor: pointer;

        &:hover:not(.empty) {
          background-color: $tree-active-blue;
        }
      }

      svg {
        margin-right: 5px;
        cursor: pointer;
        color: $tree-expand-pink;
      }
    }

    .empty {
      font-style: italic;
      color: #757b83;
    }
  }

  .controlPanelWrapper {
    grid-area: b;
    padding: 20px 40px;

    .buttons {
      display: flex;
      justify-self: start;
      align-items: center;
      margin-top: 20px;

      button {
        margin-right: 10px;

        &:not(:disabled) {
          background-color: $button-grey;
        }
      }
    }
  }

  .noteWrap {
    padding: 60px 40px;
    grid-area: n;

    .header {
      font-size: 40px;
      margin: 0;
      margin-bottom: 40px;
      color: $main-black;
    }

    .contentBlock {
      font-family: "Georgia", serif;
      margin-bottom: 20px;
    }
  }
}
