.container {
  display: grid;
  grid-template-areas: "t b" "t n";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;

  .tree {
    background-color: #d3d3d3;
    padding: 200px 20px;
    grid-area: t;

    .treeElement {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  .buttons {
    border: 1px solid blue;
    grid-area: b;
  }

  .note {
    border: 1px solid green;
    grid-area: n;
  }
}
