@import "colors";

.noteWrap {
  height: 755px;
  margin-top: 60px;
  overflow-y: auto;
  padding: 60px 40px;
  padding-top: 0;
  grid-area: n;

  .header {
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
    color: $main-black;
  }

  .contentBlock {
    font-family: "Georgia", serif;
    margin-bottom: 20px;
    display: flex;

    svg {
      cursor: pointer;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}

.contentBlockAdder {
  display: flex;
  align-items: center;
}
