@import "colors";

.wrap {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-top: 1px solid $tree-active-grey;
  cursor: pointer;

  &:hover {
    background-color: $tree-active-grey;
  }

  span {
    display: flex;
    align-items: center;
  }

  svg {
    color: $tree-empty-grey;
    margin-right: 10px;
  }

  .name {
    margin-right: 5px;
    color: $tree-empty-grey;
  }
}
