.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 50px;
}

.editable {
  font-family: sans-serif;
  margin-left: 10%;
  width: 75%;
  min-height: 100px;
  border: 1px dashed #aaa;
  padding: 5px;
  resize: none;
}

textarea.editable {
  font-family: monospace, monospace;
}

button {
  min-width: 70px;
  padding: 5px;
  margin: 5px;
}
